* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(images/bg1.jpg);
  background-size: cover;
  background-position: center;
}

.form {
  margin-top: -50px;
  color: white;
  width: 400px;
  border: 1px solid rgb(82, 20, 124);
  padding: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(116, 45, 188, 0.363);
  max-width: 90vw;
}
.label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.2rem;
  padding: 10px 0;
}
.input {
  padding: 8px;
  border-radius: 5px;
}
.invalid {
  outline: 2px rgb(255, 0, 242) solid;
  background: rgb(251, 194, 248);
}

.button-login {
  display: inline-block;
  width: 170px;
  padding: 10px 30px;
  margin: 10px 20px;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  border: 3px solid #580b6d;
  border-radius: 8px;
  color: #bc37fe;
  transition: 0.2s ease-in-out;
}

.button-login::before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.button-login:hover {
  background: #bf37fe;
  color: #fff;
}
.button-login:hover::before {
  left: 200px;
  transition: 0.7s ease-in-out;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 3vw;
  background-image: url(images/bg-header.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid rgba(97, 71, 142, 0.948);
  box-shadow: 0px 7px 17px rgb(97, 71, 142);
}
.header-content {
  display: flex;
  align-items: center;
}
.weather-forecast {
  color: rgba(101, 29, 160);
  text-shadow: -1px -1px 0 rgba(251, 255, 0, 0.7);
  transition: text-shadow 0.5s ease;
  cursor: pointer;
  margin-left: 20px;
}
.weather-forecast:hover {
  text-shadow: -2.5px -1px 0 rgba(251, 255, 0, 0.7);
}
.log-out-button {
  width: 130px;
  padding: 10px 30px;
  margin: 10px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  border: 3px solid rgb(101, 29, 160);
  border-radius: 8px;
  color: rgb(101, 29, 160);
  transition: 0.2s ease-in-out;
}
.log-out-button::before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.log-out-button:hover {
  background: rgba(191, 74, 246, 0.788);
  color: #fff;
}
.log-out-button:hover::before {
  left: 200px;
  transition: 0.7s ease-in-out;
}
.sun-pic {
  background-color: #b6d3fc;
  width: 65px;
  border: 2px solid rgba(56, 30, 103, 0.452);
  padding: 5px;
  border-radius: 10px;
}

.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 3vw;
  color: white;
  text-shadow: 2px 2px 4px rgba(41, 10, 80, 0.899);
}

.location-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.location-info {
  text-align: left;
}

.sunrise-sunset {
  text-align: right;
}

.dashboard-main {
  padding-bottom: 50px;
}

.dashboard-container {
  background-color: rgba(87, 103, 227, 0.674);
  background-size: cover;
  background-position: center;
  margin: 0;
  min-height: 100vh;
}
.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.figures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.figure {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(205, 203, 255);
  padding: 15px;
  margin: 10px;
  flex-basis: 100%;
  max-width: 400px;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0px 7px 10px rgb(49, 26, 88);
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.figure-day {
  text-align: center;
  width: 100%;
  padding-left: 64px;
}

.condition-text {
  margin-top: -10px;
}

.weather-data {
  text-align: left;
  padding-bottom: 15px;
}
.weather-indicator {
  display: flex;
  align-items: center;
  width: 100%;
}

.figure:first-child {
  background: rgb(134, 85, 219);
  color: #fff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.figure-text {
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .weather-forecast {
    font-size: 1.8rem;
  }

  .sun-pic {
    display: none;
  }

  .log-out-button {
    padding: 10px;
    width: 130px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 470px) {
  .location-info {
    font-size: 1.2rem;
  }
  .weather-forecast {
    font-size: 1.5rem;
  }

  .log-out-button {
    padding: 10px;
    width: 100px;
    font-size: 0.9rem;
  }
}
